In [69]:
#Parêntesis
#Expoente
#Mutiplicação
#Divisão
#Adição
#Subtração

In [51]:
idade1= 20
idade2= 35
somaIdades= idade1 + idade2

In [52]:
#Soma
idade1 + idade2

55

In [53]:
#Subtração
idade1 - idade2

-15

In [54]:
#Multiplicação
idade1 * idade2

700

In [55]:
#Divisão
idade1 / idade2

0.5714285714285714

#Etapa 2

In [57]:
#Soma
idade1 + 10

30

In [58]:
#Subtração
idade1 - 15

5

In [59]:
#Mutiplicação
idade1 * 4

80

In [60]:
#Divisão
idade1 / 5

4.0

#Etapa 3

In [74]:
#Parêntesis #Mutiplicação #Adição
2 *(idade1 + idade2)

110

In [66]:
#Mutiplicação #Adição #Divisão
2 * idade1 + 3 * idade2 / 4

66.25

In [65]:
#Parêntesis #Mutiplicação #Adição #Divisão
(2 * idade1 + 3 * idade2) / 4

36.25

#Etapa 4

In [82]:
#Expoente
calculo1= idade1 ** 2
calculo2= 15 ** 2
calculo3= 15 ** 3

In [83]:
print(calculo1, calculo2, calculo3)

400 225 3375

In [91]:
#Divisão
calculo1= idade2 // idade1
calculo2= idade2 // idade1

In [93]:
print(calculo1, calculo2)

1 1

In [94]:
calculo3= idade2 % idade1
print(calculo3)

15

In [ ]:
#Etapa 5

In [108]:
idade1= 10

In [116]:
nome= 'Bruno,'
sobrenome= ' Pereira'

In [102]:
print(nome + sobrenome)

Bruno Pereira

In [117]:
#Forma 1
print('Olá, ', nome, 'você tem ', idade1 + 8, 'anos')

Olá,  Bruno, você tem  18 anos

In [118]:
#Forma 2
print('Olá, ', nome, '\n', 'você tem ', idade1 + 8, 'anos')

Olá,  Bruno,
 você tem  18 anos

#Input

In [139]:
type(idade)

int

In [142]:
idade= input('Digite sua idade: ')

In [141]:
idade= int(input('Digite sua idade: '))

In [145]:
input('Digite sua idade: ')

'18'

In [147]:
#6
num1 = 12
num1 -= 1
print(num1)

11

In [148]:
num2 = 12
num2 += 1
print(num2)

13